<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title align="center" *ngIf="!isSearchbarOpened">Vinyl DJ App</ion-title>
    <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" (ionCancel)="isSearchbarOpened=false" (search)="onSearch($even)"></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    </ion-navbar>
      <div class="search" *ngIf="isSearchbarOpened">
        <div *ngFor="let topic of topics">
          <p>{{topic}}</p>
        </div>
      </div>
</ion-header>
<ion-content padding>
    <ion-row>
        <ion-col col-6>
            <ion-card (click)="goToDetails()">
                <img class="img" src="../../assets/djs/coffee.jpg" />
                <div class="card-title">Black Coffee</div>
                <div class="card-subtitle">House</div>
            </ion-card>
        </ion-col>

        <ion-col col-6>
            <ion-card (click)="goToDetails()">
                <img class="img" src="../../assets/djs/cosmo.jpg" />
                <div class="card-title">Ms Cosmo</div>
                <div class="card-subtitle">Hip Hop</div>
            </ion-card>
        </ion-col>
        <ion-col col-6>
            <ion-card (click)="goToDetails()">
                <img class="img" src="../../assets/djs/prince.jpg" />
                <div class="card-title">Prince Kaybee</div>
                <div class="card-subtitle">House</div>
            </ion-card>
        </ion-col>
        <ion-col col-6>
            <ion-card (click)="goToDetails()">
                <img class="img" src="../../assets/djs/shimza.jpg" />
                <div class="card-title">Shimza</div>
                <div class="card-subtitle">House</div>
            </ion-card>
        </ion-col>

        <ion-col col-6>
            <ion-card (click)="goToDetails()">
                <img class="img" src="../../assets/djs/zinhle.jpeg" />
                <div class="card-title">Dj Zinhle</div>
                <div class="card-subtitle">House</div>
            </ion-card>
        </ion-col>

        <ion-col col-6>
            <ion-card (click)="goToDetails()">
                <img class="img" src="../../assets/djs/speedsta.jpg" />
                <div class="card-title">Speedsta</div>
                <div class="card-subtitle">Hip Hop</div>
            </ion-card>
        </ion-col>

    </ion-row>
</ion-content>
