<ion-header>
  <ion-navbar>
    <ion-title align="center" *ngIf="!isSearchbarOpened">Vinyl DJ App</ion-title>
    <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" (ionCancel)="isSearchbarOpened=false" (search)="onSearch($even)"></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <div *ngIf="isSearchbarOpened">
    <div *ngFor="let topic of topics">
       <p>{{topic}}</p>
    </div>
  </div>
</ion-header>
<ion-content padding>

</ion-content>
