.menu-content{

    background: black;
   

}
.items{

    background: black;
    text-align:left;
   


}
#button1{

    background-color: rgba(0.0,0.0,0.0,0.4);
     color:lightcoral;
     font-style: normal;
     font-size: 20px;
}
.icon1{

    font-size:35px;
    color:lightcoral;
 }
 #button2{

    background-color: rgba(0.0,0.0,0.0,0.4);
    color:blue;
    font-style: normal;
    font-size: 20px;
}
.icon2{

   font-size:35px;
   color:blue;
  
}
#button3{

    background-color: rgba(0.0,0.0,0.0,0.4);
    color:red;
    font-style: normal;
    font-size: 20px;
}
.icon3{

   font-size:35px;
   color:red;
}
#button4{

    background-color: rgba(0.0,0.0,0.0,0.4);
    color:yellow;
    font-style: normal;
    font-size: 20px;
}
.icon4{

   font-size:35px;
   color:yellow;
}
#button5{

    background-color: rgba(0.0,0.0,0.0,0.4);
    color:fuchsia;
    font-style: normal;
    font-size:20px;
}
.icon5{

   font-size:35px;
   color:fuchsia;
}
ion-toolbar{

    text-align: center;
    color: white;
    font-style: normal;
    font-size:30px;

}
