.menu-content{


   

}
.items{


   


}
#button1{

   
     color:lightcoral;
     font-style: normal;
     font-size: 20px;
}
.icon1{

    font-size:35px;
    color:lightcoral;
 }
 #button2{

  
    color:lightcoral;
    font-style: normal;
    font-size: 20px;
}
.icon2{

   font-size:35px;
  
  
}
#button3{

   
    color:lightcoral;
    font-style: normal;
    font-size: 20px;
}
.icon3{

   font-size:35px;
   color:lightcoral;
}
#button4{

  
    color:lightcoral;
    font-style: normal;
    font-size: 20px;
}
.icon4{

   font-size:35px;
   color:lightcoral;
}
#button5{


    color:lightcoral;
    font-style: normal;
    font-size:20px;
}
.icon5{

   font-size:35px;
   color:lightcoral;
}
ion-toolbar{

    text-align: center;
    color: white;
    font-style: normal;
    font-size:30px;

}
